.logged-in_container {
  display: grid;
  place-content: center;
  height: 90vh;
}

.logged-in {
  place-items: center;
  padding: 5%;
  text-align: center;
}
.logged-in__message p {
  font-size: 1.5rem;
  margin: 15px 0px;
  white-space: nowrap;
}
.logged-in__icon {
  color: green;
  height: 100px;
}
.logged-in__button {

  padding: 10px;
  border-radius: 5px;
  transition: all 0.5s ease-out;
  border: none;
  color: green;
  font-size: 1.2rem;
}
