.mainaboutdiv {
  margin: auto;
  margin-top: 30px;
  width: 47%;
  height: 485px;
}

.mainaboutdiv h1 {
  text-transform: uppercase;
  font-weight: 400;
}

.aboutthisweb {
  font-size: 16px;
  line-height: 24px;
  font-family: Suisse Intl, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #000;
  box-sizing: inherit;
  font-weight: 300;
}

.aboutacchive {
  height: 25px;
  margin: auto;
  margin-top: 72px;
  /* width: 55%; */
  /* border: 1px solid red; */
  display: flex;
}

.aboutacchive1 {
  width: 33%;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
}

.aboutacchive2 {
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  width: 34%;
}
.aboutacchive3 {
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  width: 33%;
}

.about2 {
  /* border: 1px solid red; */
  display: flex;
  height: 150px;
  margin-bottom: 0px;
}

.aboutacchivediv1 {
  /* border: 1px solid red; */
  height: 110px;
  width: 33%;
}
.aboutacchivediv2 {
  /* border: 1px solid red; */
  height: 110px;
  width: 33%;
}
.aboutacchivediv3 {
  /* border: 1px solid red; */
  height: 110px;
  width: 33.5%;
}

.aboutacchivediv1 h2 {
  margin-top: 12px;
  font-family: Suisse Works;
  font-weight: 300;
  font-size: 30px;
}

.aboutacchivediv1 p {
  font-size: 12px;
  line-height: 18px;
  font-family: Suisse Intl, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #000;
}

.aboutacchivediv2 h2 {
  margin-top: 12px;
  font-family: Suisse Works;
  font-weight: 300;
  font-size: 30px;
}

.aboutacchivediv2 {
  height: 150px;
}

.aboutacchivediv2 p {
  font-size: 12px;
  line-height: 18px;
  font-family: Suisse Intl, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #000;
}
.appannidata {
  color: gray;
  padding-left: 4px;
  line-height: 14px;
  font-family: Suisse Intl, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 11px;
}

.aboutacchivediv3 h2 {
  margin-top: 12px;
  font-family: Suisse Works;
  font-weight: 300;
  font-size: 30px;
  padding-left: 9px;
}

.aboutacchivediv3 p {
  font-size: 12px;
  line-height: 18px;
  font-family: Suisse Intl, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #000;
}

.fashionimg img {
  width: 100%;
  border-bottom: 1px solid black;
}

.writing {
  margin: auto;
  margin-top: 80px;
  width: 47%;
  height: 400px;
  /* border: 1px solid red; */
}

.writing p {
  font-size: 16px;
  line-height: 24px;
  font-family: Suisse Intl, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 350;
  color: #000;
}

.fashiontalent {
  margin: auto;
  margin-top: 20px;
  width: 47%;
  height: 60px;
  display: flex;
  gap: 26px;
  /* border: 1px solid red; */
}

.fash {
  height: 50px;
  width: 48%;
  display: flex;
  justify-content: space-between;
  background-color: #f5f4f2;
}

.fashbox1 {
  width: 50%;
  height: 30px;
  margin-left: 12px;
  margin-top: 10px;
}

.fashbox2 {
  width: 10%;
  height: 30px;
  margin-left: 12px;
  margin-top: 5px;
  font-size: 25px;
}
.fashlink {
  text-align: center;
  color: #000;
  font-weight: 600;
}

.fash1 {
  height: 50px;
  width: 48%;
}

.presscovergaemaindiv {
  margin-top: 4%;
  height: 535px;
  background-color: #f5f4f2;
  border: 1px solid #f5f4f2;
}

.presscovergaeinnerdiv {
  /* height:45%; */
  margin: auto;
  margin-top: 65px;
  width: 47%;
  border: 1px solid #f5f4f2;
}

.presscovergaeinnerdiv h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 32px;
  line-height: 20px;
}

.pressthree {
  border: 1px solid white;
  height: 40px;
  margin-top: 20px;
  display: flex;
  gap: 20px;
  margin-bottom: 0px;
}

.techcrunch {
  height: 35px;
  margin: auto;
  width: 32%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin-bottom: 40px;
}

.tech1 {
  /* border: 1px solid red; */
  padding-left: 6px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  height: 20px;
  margin-top: 6px;
  margin-left: 7px;
}

.tech2 {
  /* border: 1px solid red; */
  margin-right: 12px;
  height: 30px;
  font-weight: bold;
  margin-top: 5px;
  font-size: 20px;
  font-family: Suisse Intl, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.uk_vinted_raises {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}

.uk {
  /* argin-left: 10px;m */
  border: 1px solid white;
  width: 32%;
  background-color: white;
}

.ukfas {
  width: 32%;
  margin-top: 10px;
  background-color: #fff;
  color: #000;
  font-weight: 545;
  font-family: Suisse Intl, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 17px;
  margin-left: 10px;
}

.vi {
  width: 32%;
  background-color: white;
}

.vin {
  width: 32%;
  margin-top: 10px;
  background-color: #fff;
  color: #000;
  font-weight: 545;
  font-family: Suisse Intl, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 17px;
  margin-left: 10px;
}

.ra {
  width: 32%;
  background-color: white;
}

.raise {
  width: 32%;
  margin-top: 10px;
  background-color: #fff;
  color: #000;
  font-weight: 545;
  font-family: Suisse Intl, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 17px;
  /* border: 1px solid red; */
  margin-left: 10px;
}

.presstwo {
  display: flex;
  height: 30px;
  width: 63%;
  margin: auto;
  justify-content: center;
  gap: 21px;
}

.busfas {
  font-size: 16px;
  line-height: 22px;
  font-weight: 530;
  font-family: Suisse Intl, Helvetica Neue, Helvetica, Arial, sans-serif;
  padding-top: 3px;
  background-color: #fff;
  padding-left: 12px;
}

.busfas1 {
  font-size: 20px;
  height: 20px;
  margin-right: 8px;
  padding-bottom: 10px;
  font-weight: bold;
}

.presstwo1 {
  display: flex;
  width: 50%;
  justify-content: space-between;
  background-color: #fff;
}

.fashionvogue {
  display: flex;
  margin: auto;
  width: 63%;
  gap: 21px;
}

.invest {
  width: 48%;
  background-color: #fff;
}

.investors {
  color: #000;
  font-weight: 545;
  font-family: Suisse Intl, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 17px;
}

.investors1 {
  color: #000;
  font-weight: 545;
  font-family: Suisse Intl, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 17px;
  margin-left: 10px;
  line-height: 1.3;
}

.vogue {
  width: 48%;
  background-color: #fff;
}

.voguebusiness {
  color: #000;
  font-weight: 545;
  font-family: Suisse Intl, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 17px;
}

.voguebusiness1 {
  color: #000;
  font-weight: 545;
  font-family: Suisse Intl, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 17px;
  margin-left: 10px;
  line-height: 1.3;
}

.linkdindiv {
  border: 1px solid;
  width: 18%;
  margin-top: 4%;
  margin-left: 42%;
  height: 44px;
  display: flex;
  border-width: 1px;
  background-color: #fff;
}

.linkdindiv:hover {
  background-color: #000;
}

.linkdindiv img {
  height: 20px;
  margin-top: 14px;
  margin-left: 16px;
  border-radius: px;
}

.linkdinlink {
  text-decoration: none;
  color: #000;
  line-height: 48px;
  font-family: Suisse Intl, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin-left: 36px;
  font-family: Suisse Intl, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.linkdinlink:hover {
  color: #fff;
}

.discovermorediv {
  margin: auto;
  margin-top: 70px;
  width: 47%;
  height: 450px;
}

.discovermorediv h2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 30px;
  text-transform: uppercase;
}
.dismoresidiv {
  /* border: 1px solid red; */
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.dismodiv {
  width: 31%;
  height: 120px;
  background-color: #f5f4f2;
}

.linkbrans {
  /* border: 1px solid red; */
  margin-top: 10px;
  margin-left: 7px;
  color: #000;
  font-family: Suisse Intl, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.brands {
  display: flex;
}

.arrow1 {
  height: 20px;
  font-weight: bold;
  /* margin-top: 2px; */
  font-size: 20px;
  margin-left: 25px;
  /* border: 1px solid red; */
}

.arrow2 {
  height: 20px;
  font-weight: bold;

  font-size: 20px;
  margin-left: 47%;
}

.dismodiv p {
  font-family: Suisse Intl, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-left: 10px;
  font-size: 14px;
  line-height: 1.4;
  color: #000;
}

.dismoresidiv1 {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  line-height: 1.4;
  font-family: Suisse Intl, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
}

.detail {
  width: 90%;
}
