.helpcenter {
  background-color: rgba(245, 243, 242, 1);
}
.lyst {
  margin-left: 20px;
  font-size: 30px;
  margin-top: 5px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  text-decoration: none;
  height: 50px;
}

.helpdiv p {
  margin-top: 110px;
  margin-left: 270px;
  /* border: 1px solid red; */
  font-size: 35px;
  font-weight: 500;
}

.inpdiv {
  display: flex;
  /* border: 1px solid red; */
}

.inpdiv2 {
  width: 76%;
  margin-left: 23px;
  /* border: 1px solid red; */
}

.inpdiv2 input {
  height: 48px;
  width: 80%;
  margin-left: 249px;
}

.searchbtn {
  margin-left: 22px;
}

.searchimg {
  margin-top: 3px;
  height: 41px;
}

.populararticles div {
  display: inline-block;
  margin-left: 270px;
  color: black;
  font-size: 16px;
}

.populararticles a {
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.populararticles a:hover {
  color: blueviolet;
}

.helpcenterinnerdiv {
  /* border: 1px solid red; */
  width: 65%;
  margin: auto;
  margin-top: 50px;
}

.helpcenterinnerdiv p {
  line-height: 1.6;
  font-size: 18px;
  font-family: "Suisse Int'l", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-top: 0px;
}

.helpcenterinnerdiv.p1 {
  margin-top: 5px;
  font-weight: 300;
}

.helpcenterinnerdiv a {
  color: black;
  margin-left: 2px;
  font-weight: bold;
}

.helpcenterinnerdiv a:hover {
  color: blueviolet;
}

.help6box {
  display: grid;
  margin: auto;
  margin-top: 45px;
  height: 600px;
  width: 65%;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px 250px;
}

.help1 {
  border: 1px solid black;
}

img {
  height: 248px;
  width: 100%;
}

.helparticle {
  width: 25%;
  margin-left: 41%;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 54px;
}

.article {
  color: black;
  margin-left: 4px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
}

.article:hover {
  color: blueviolet;
}

.singleline {
  height: 1px;
  margin: auto;
  width: 66%;
  background-color: black;
}

.prefercontactusmaindiv {
  /* border: 1px solid red; */
  width: 66%;
  margin: auto;
  margin-top: 56px;
  height: 550px;
}

.prefercontactusmaindiv h1 {
  font-family: "Suisse Int'l", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  /* border: 1px solid red; */
}

.prefercontactusmaindiv1 p {
  font-family: "Suisse Int'l", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 15px;
  /* border: 1px solid red; */
}

.mailid {
  color: black;
  cursor: pointer;
  font-weight: 600;
  font-family: "Suisse Int'l", Helvetica Neue, Helvetica, Arial, sans-serif;
  /* border: 1px solid red; */
}
.mailid:hover {
  color: blueviolet;
}

.prefercontactusmaindiv h5 {
  font-family: "Suisse Int'l", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 31px;
  /* border: 1px solid red; */
}

.address {
  font-family: "Suisse Int'l", Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  color: #000;
}

.contactcutomer button {
  height: 45px;
  width: 26%;
  background-color: #cafc4f;
  font-weight: 600;
  border: 1px solid #000;
  font: 15px;
  border-radius: 1px;
  font-family: "Suisse Int'l", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.contactcutomer button:hover {
  background-color: black;
  color: white;
}

.singleline2 {
  height: 1px;
  background-color: black;
  margin-top: 10px;
}

.footerdiv {
  margin-top: 2px;
  /* border: 1px solid red; */
  height: 50px;
}

.footerdivinside {
  width: 66%;
  height: 20px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.footerdivinside div {
  color: #aaa;
  font-family: "Suisse Int'l", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.backtolyst {
  color: black;
  font-weight: 600;
  font-size: 14px;
  font-family: "Suisse Int'l", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.backtolyst:hover {
  color: blueviolet;
}

.drop1 {
  font-weight: bold;
}

.drop1 {
  font-weight: bold;
  background-color: white;
  cursor: pointer;
  border: 0px;
  background-color: transparent;
}
