.coverdiv{
    display:  flex;
    margin: auto;
    width: 65%;
    height: 1225px;
   gap: 40px;
  
   
}

.innerdiv{
    height: 600px;
    width: 30%;
}

.innerdiv1{
    width:65%;
}

/* 1 */
.line1{
    margin-top: 16px;
    background-color: black;
    height: 3px;
    width: 92%;
    margin-left: 20px;
    
}

.supp1{
    height: 10px;
    margin-left: 10px;
    margin-top: 8px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold; font-size: 15px;
    font-family: Suisse Intl,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 18px;
    
}
/* 2 */
.line2{
    margin-top: 17px;
    background-color: black;
    height: 3px;
    width: 92%;
    margin-left: 20px;
}

.supp2{
    height: 10px;
    margin-left: 10px;
    margin-top: 8px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold; font-size: 15px;
    font-family: Suisse Intl,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 18px;}
/* 3 */
.line3{
    margin-top: 17px;
    background-color: black;
    height: 3px;
    width: 92%;
    margin-left: 20px;
}

.supp3{
    height: 10px;
    margin-left: 10px;
    margin-top: 8px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold; font-size: 15px;
    font-family: Suisse Intl,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 18px;}
/* 4 */
.line4{
    margin-top: 17px;
    background-color: black;
    height: 3px;
    width: 92%;
    margin-left: 20px;
}

.supp4{
    height: 10px;
    margin-left: 10px;
    margin-top: 8px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold; font-size: 15px;
    font-family: Suisse Intl,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 18px;}
/* 5 */
.line5{
    margin-top: 17px;
    background-color: black;
    height: 3px;
    width: 92%;
    margin-left: 20px;
}

.supp5{
    height: 10px;
    margin-left: 10px;
    margin-top: 8px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold; font-size: 15px;
    font-family: Suisse Intl,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 18px;}
/* 6 */
.line6{
    margin-top: 17px;
    background-color: black;
    height: 3px;
    width: 92%;
    margin-left: 20px;
}

.supp6{
    height: 10px;
    margin-left: 10px;
    margin-top: 8px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold; font-size: 15px;
    font-family: Suisse Intl,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 18px;}

/* 7 */
.line7{
    margin-top: 17px;
    background-color: black;
    height: 3px;
    width: 92%;
    margin-left: 20px;
}

.supp7{
    height: 10px;
    margin-left: 10px;
    margin-top: 8px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold; font-size: 15px;
    font-family: Suisse Intl,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 18px;}
/* 8 */
.line8{
    margin-top: 17px;
    background-color: black;
    height: 3px;
    width: 92%;
    margin-left: 20px;
}

.supp8{    height: 10px;
    margin-left: 10px;
    margin-top: 8px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold; font-size: 15px;
    font-family: Suisse Intl,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 18px;}
/* 9 */
.line9{
    margin-top: 17px;
    background-color: black;
    height: 3px;
    width: 92%;
    margin-left: 20px;
}

.innerdiv1 h2{
    font-weight: bold;
    font-size: 27px;
    font-family: Suisse Intl,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.3;
}

.innerdiv1 p{
    font-family: Suisse Intl,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.3;
}

.innerdiv1 h3{
    font-family: Suisse Intl,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.3;
}

.para2{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    font-family: Suisse Intl,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.notediv{
    display: flex;
    gap: 20px;
}

.note{
    width: 10px;
    height: 122px;
    background-color: black;
    border-radius: 5px;
}

.notediv.notepara{
    border: 1px solid red;
    width: 2px;
    height: 200px;
    background-color: black;
    font-family: Suisse Intl,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.klarna{
    color: black;
    font-family: Suisse Intl,Helvetica Neue,Helvetica,Arial,sans-serif;
}

